# Lesson 3 Practice: Pandas Part 1

Use this notebook to follow along with the lesson in the corresponding lesson notebook: [L03-Pandas_Part1-Lesson.ipynb](./L03-Pandas_Part1-Lesson.ipynb).

## Instructions
Follow along with the teaching material in the lesson. Throughout the tutorial sections labeled as "Tasks" are interspersed and indicated with the icon: ![Task](http://icons.iconarchive.com/icons/sbstnblnd/plateau/16/Apps-gnome-info-icon.png). You should follow the instructions provided in these sections by performing them in the practice notebook.  When the tutorial is completed you can turn in the final practice notebook. For each task, use the cell below it to write and test your code.  You may add additional cells for any task as needed or desired.

## Task 1a: Setup

+ `numpy` as `np`
+ `pandas` as `pd`

In [4]:
import numpy as np
import pandas as pd

## Task 2a Create a `pd.Series` object

+ Create a series of your own design.

In [7]:
a_series = pd.Series([2,4,6,8,10,12,14,16,18,20]) 
a_series

0     2
1     4
2     6
3     8
4    10
5    12
6    14
7    16
8    18
9    20
dtype: int64

## Task 2b: Creating a DataFrame

+ Create a pd.DataFrame object from a Python dictionary. Design the data as you like.

In [7]:
dataframe = pd.DataFrame(np.random.randn(12,8))
dataframe

,0,1,2,3,4,5,6,7
0,-1.310416,1.041099,-1.768732,0.930892,-0.447235,0.074113,0.823212,-1.177727
1,0.520003,0.738684,0.308078,-0.741985,0.881486,-0.970431,-0.178915,-1.243327
2,-0.125627,1.283634,-1.116196,0.858304,1.518236,0.397266,2.339230,-0.761292
3,-0.056128,-0.086886,-1.177766,-0.734060,-0.461576,1.748344,-1.237781,-1.226718
4,0.661492,-1.204097,-0.493138,-1.201270,-1.241088,0.526354,-0.858889,-1.098069
5,-2.639047,-1.121866,-1.210850,-0.441649,-2.235468,0.379209,0.971957,0.186910
6,-0.317457,-0.606797,1.410333,-0.229497,0.275587,1.304806,-0.518220,0.702170
7,1.033107,1.514050,-1.379411,0.613993,0.319513,-1.161681,2.457302,0.568225
8,-1.367345,0.698945,0.943821,-0.426567,0.837042,0.585372,0.300536,1.599692
9,-0.051289,1.027050,-0.206579,-0.565619,-0.520365,-0.847037,0.137526,1.444437
10,0.543054,-0.783027,-0.734640,-0.718597,-0.257601,1.300555,1.045594,1.575462
11,-0.131919,-0.039863,-2.669223,1.170282,1.084697,0.765431,1.311488,0.503845

## Task 2c: Create DataFrame with labels

+ Create a 10x5 dataframe of random numeric integers that follow a [Guassian (normal) Distribution](https://docs.scipy.org/doc/numpy-1.15.0/reference/generated/numpy.random.normal.html). 
  + Center the distrubtion at 0.85.
  + We will use these values as assumed grades for a class of students
+ Adjust the row indexes to be the names of hypothetical students.
+ Adjust the columsn to be the names of hypothetical projects, homework, exam names, etc.

In [60]:
newdataframe = pd.DataFrame(np.random.normal(loc = 0.85, size = (10,5)), 
                            index=('Jessica', 'Kara', 'Heather', 'Erin', 'Marc', 'Adam', 'Rachael', 'Kerry', 'Alex', 'Megan'), 
                            columns=('HW1','HW2', 'HW3', 'Exam1', 'Project'))
newdataframe

              HW1       HW2       HW3     Exam1   Project
Jessica -0.503682  0.783307  2.122952  0.644248  0.651050
Kara     1.223816  0.907034  0.824994  0.760594  1.343502
Heather -0.263213  0.387284  0.718599  0.218576  1.734829
Erin     0.782883  1.005533  0.932899  1.627714 -1.202012
Marc     2.005364  2.205994  1.092633  0.280291  1.992884
Adam    -1.526291  1.906145  1.807693  0.983800  0.556810
Rachael  1.387724  2.726636  1.132158  1.188526  1.921552
Kerry   -0.910957  1.362438  1.909315  2.365718  1.914789
Alex     0.871862  1.239161  1.092614 -0.034742  1.260055
Megan   -0.134836  0.869452  1.456206  0.394152  0.820224

## Task 3a: Import the iris.csv file

+ Import the iris dataset.
+ Take a look at the `pd.read_csv` online documentation. Write example code in a Markup cell for how you would import this file if it were tab-delimited.

In [37]:
irisdata = pd.read_csv('iris.csv')

(150, 5)

In [16]:
# fakeimport = pd.read_csv('iris.csv', sep='\t' )

/Users/kararyan/miniconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

## Task 4a: Explore Data

 + Use `head`, `tail` and `sample` with the iris dataset.
 + Do the same with the dataset you created in task 2c.

In [22]:
irisdata.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [23]:
irisdata.tail()

     sepal_length  sepal_width  petal_length  petal_width    species
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

In [26]:
irisdata.sample(2)

    sepal_length  sepal_width  petal_length  petal_width     species
65           6.7          3.1           4.4          1.4  versicolor
29           4.7          3.2           1.6          0.2      setosa

In [52]:
newdataframe.head()
newdataframe.tail()
newdataframe.sample(4)

              HW1       HW2       HW3     Exam1   Project
Heather  1.947439  0.909360  1.315339 -0.555303  1.036084
Erin     1.418188  0.381492  0.781147  2.820689  0.221557
Marc     2.877663  1.952103  1.660682  0.706748  1.281511
Jessica  1.315163  0.523485 -0.405860  1.824437  0.293915

## Task 5a: Viewing columns and rows

+ Display the columns and indexes of the iris dataset.
+ Do the same with the dataset you created in Task 2c.

In [42]:
irisdata.columns
irisdata.index

In [42]:
newdataframe.columns
newdataframe.index

RangeIndex(start=0, stop=150, step=1)

## Task 5b: Get Values

+ Check the version of `pandas` you have 
+ Use the appropriate method to convert the iris data to a dictionary.
+ Do the same with the dataset you created in Task 2c.

In [53]:
pd.__version__

array = irisdata.to_dict()

grades = newdataframe.to_dict()

## Task 5c: Using `loc`

+ Use any iris dataframe to:
  + Select a row slice with `loc`.
  + Select a row and column slice with `loc`.
  + Take a look at the [Pandas documentation for the `at` selector](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.at.html). Use what you learn there to select a single item with Pandas `at` accessor.

In [59]:
irisdata.loc[2:]


irisdata.loc[1, 'sepal_length' ]

4.9

## Task 5d: Using `iloc`

+ Use any iris dataframe to:    
    + Select a row slice with `iloc`.
    + Select a row and column slice with `iloc`.
    + Take a look at the [Pandas documentation for the `iat` selector](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.iat.html). Use what you learn there to select a single item with Pandas `iat` accessor.

## Task 5e: Boolean Indexing

+ Create subsets of the iris dataset using boolean indexes that:
    + Use one boolean operator.
    + Use two boolean operators.